doc/drakeURDF.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://drake.mit.edu"
    xmlns="http://drake.mit.edu" elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>XML Schema for DrakeURDF v1.0

Documents URDF support for Drake, which implements much of the ROS URDF specification, but also adds a number of new elements.
   </xs:documentation>
    </xs:annotation>
    <xs:simpleType name="matlab_parameter_expression">
        <xs:annotation>
            <xs:documentation>Can be any string that will evaluate as a polynomial using "eval" in the matlab environment, where parameters are referenced with $param_name.
Example: 

"$m * $l^2"
or
"$m2 * ($lc2 - $l1)" 
</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="parameter">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:double" use="required"/>
        <xs:attribute default="-INF" name="lb" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>lower bound</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="INF" name="ub" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>upper bound
</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="loop_joint">
        <xs:sequence>
            <xs:element name="link1" type="link_reference_w_pose" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>String naming the link on one side of
the joint.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="link2" type="link_reference_w_pose" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>String naming the link on the other side of
the joint.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="axis" type="axis" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute fixed="continuous" name="type" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Currently must be ’continuous’. The intent is to
eventually support all of the same types as a 'joint' element. See the joint element documentation.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="force_element">
        <xs:choice>
            <xs:element name="linear_spring_damper" type="linear_spring_damper"/>
            <xs:element name="wing" type="wing">
                <xs:annotation>
                    <xs:documentation>See RigidBodyWing.m for more documentation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="thrust" type="thrust">
                <xs:annotation>
                    <xs:documentation>Thrust elements produce a force on a point on the parent body in a
specified direction. The magnitude of the force is scaled from an input
to the system. Possible applications are the throttle input and force
produced by a propeller on an airplane, or thrusters on the hands and
feet of an Atlas robot to make Iron Man.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="pose">
        <xs:attribute name="xyz" type="xs:string" default="0 0 0">
            <xs:annotation>
                <xs:documentation>Represents the Cartesian offset</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rpy" type="xs:string" default="0 0 0">
            <xs:annotation>
                <xs:documentation>Represents the fixed-axis (aka extrinsic) roll, pitch and yaw angles in radians. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="linear_spring_damper">
        <xs:sequence>
            <xs:element name="link1" type="link_reference_w_pose">
                <xs:annotation>
                    <xs:documentation>String naming the link on one side
of the spring/damper with an (optional) pose specified relative to the coordinate system on the link</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="link2" type="link_reference_w_pose">
                <xs:annotation>
                    <xs:documentation>String naming the link on the other side
of the spring/damper with an (optional) pose specified relative to the coordinate system on the link</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute default="0" name="rest_length" type="xs:double"/>
        <xs:attribute default="0" name="stiffness" type="xs:double">
            <xs:annotation>
                <xs:documentation>in Newtons per meter
</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="0" name="damping" type="xs:double">
            <xs:annotation>
                <xs:documentation>in Newton seconds per meter.  positive values resist motion.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="wing">
        <xs:sequence>
            <xs:element name="parent" type="link_reference">
                <xs:annotation>
                    <xs:documentation>String naming the link on which
this wing is attached.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="origin" type="pose">
                <xs:annotation>
                    <xs:documentation>This defines the position of
the quarter-chord point of the airfoil, since that is the reference point
used for the moment coefficient. RPY support has been excluded, requiring
the axes of the airfoil to line up with those of its parent body.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="profile" type="xs:string">
            <xs:annotation>
                <xs:documentation>one of the following
strings:
· The path to a .mat file that can be loaded and contains the three
variables ”CLSpline, CDSpline, CMSpline”
· The string, ’flat plate’
39
· File location of a .dat file generated by Xfoil
· A NACA airfoil designation: ’NACA0012’</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="chord" type="xs:double">
            <xs:annotation>
                <xs:documentation>the chord length in
meters.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="span" type="xs:double">
            <xs:annotation>
                <xs:documentation>the span of the wing
in meters.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="stall_angle" type="xs:double">
            <xs:annotation>
                <xs:documentation>the angle
in degrees upon which the lift and drag performance returns to that of
a flat plate. (this value is ignored if the profile is set to a flat plate).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="nominal_speed" type="xs:double">
            <xs:annotation>
                <xs:documentation>an approximate
nominal speed in meters per second used to calculate the
Reynolds number around which we design the aerodynamic coefficients.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="thrust">
        <xs:choice>
            <xs:element name="parent" type="link_reference_w_pose">
                <xs:annotation>
                    <xs:documentation>String naming the link on
which the force will be applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="axis" type="axis" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The joint axis specified in the joint frame. This is the axis of rotation for revolute joints, the axis of translation for prismatic joints, and the surface normal for planar joints. The axis is specified in the joint frame of reference. Fixed and floating joints do not use the axis field. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute default="-INF" name="lower_limit" type="xs:double"/>
        <xs:attribute default="INF" name="upper_limit" type="xs:double"/>
        <xs:attribute default="1" name="scale_factor" type="xs:double">
            <xs:annotation>
                <xs:documentation>scales the dimensionless
input to Newtons of force.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="joint_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="revolute"/>
            <xs:enumeration value="continuous"/>
            <xs:enumeration value="prismatic"/>
            <xs:enumeration value="fixed"/>
            <xs:enumeration value="floating"/>
            <xs:enumeration value="planar"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="color">
        <xs:attribute name="rgba" type="xs:string" default="0 0 0 0">
            <xs:annotation>
                <xs:documentation>The color of a material specified by set of four numbers representing red/green/blue/alpha, each in the range of [0,1]. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="mass">
        <xs:attribute name="value" type="xs:double" default="0"/>
    </xs:complexType>

    <xs:complexType name="inertia">
        <xs:attribute name="ixx" type="xs:double" default="0"/>
        <xs:attribute name="ixy" type="xs:double" default="0"/>
        <xs:attribute name="ixz" type="xs:double" default="0"/>
        <xs:attribute name="iyy" type="xs:double" default="0"/>
        <xs:attribute name="iyz" type="xs:double" default="0"/>
        <xs:attribute name="izz" type="xs:double" default="0"/>
    </xs:complexType>

    <xs:complexType name="inertial">
        <xs:all>
            <xs:element name="origin" type="pose" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>This is the pose of the inertial reference frame, relative to the link reference frame. The origin of the inertial reference frame needs to be at the center of gravity. The axes of the inertial reference frame do not need to be aligned with the principal axes of the inertia. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="mass" type="mass" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The mass of the link is represented by the value attribute of this element </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="inertia" type="inertia" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The 3x3 rotational inertia matrix, represented in the inertia frame. Because the rotational inertia matrix is symmetric, only 6 above-diagonal elements of this matrix are specified here, using the attributes ixx, ixy, ixz, iyy, iyz, izz. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="box">
        <xs:attribute name="size" type="xs:string" default="0 0 0"/>
    </xs:complexType>

    <xs:complexType name="cylinder">
        <xs:attribute name="radius" type="xs:double" use="required"/>
        <xs:attribute name="length" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="sphere">
        <xs:attribute name="radius" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="mesh">
        <xs:attribute name="filename" type="xs:anyURI" use="required"/>
        <xs:attribute name="scale" type="xs:string" default="1 1 1"/>
    </xs:complexType>

    <xs:complexType name="geometry">
        <xs:choice>
            <xs:element name="box" type="box">
                <xs:annotation>
                    <xs:documentation>size attribute contains the three side lengths of the box. The origin of the box is in its center. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cylinder" type="cylinder">
                <xs:annotation>
                    <xs:documentation>Specify the radius and length. The origin of the cylinder is in its center.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sphere" type="sphere">
                <xs:annotation>
                    <xs:documentation>Specify the radius. The origin of the sphere is in its center. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="mesh" type="mesh">
                <xs:annotation>
                    <xs:documentation>A trimesh element specified by a filename, and an optional scale that scales the mesh's axis-aligned-bounding-box. The recommended format for best texture and color support is Collada .dae files, though .stl files are also supported. The mesh file is not transferred between machines referencing the same model. It must be a local file. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="material">
        <xs:sequence>
            <xs:element name="color" type="color" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="visual">
        <xs:sequence>
            <xs:element name="origin" type="pose" minOccurs="0" maxOccurs="1"/>
            <xs:element name="geometry" type="geometry" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The shape of the visual object.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="material" type="material" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The material of the visual element. It is allowed to specify a material element outside of the 'link' object, in the top level 'robot' element. From within a link element you can then reference the material by name. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="collision">
        <xs:sequence>
            <xs:element name="origin" type="pose" minOccurs="0" maxOccurs="1"/>
            <xs:element name="geometry" type="geometry" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="link">
        <xs:all>
            <xs:element name="inertial" type="inertial" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The inertial properties of the link. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="visual" type="visual" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The visual properties of the link. This element specifies the shape of the object (box, cylinder, etc.) for visualization purposes. Note: multiple instances of visual tags can exist for the same link. The union of the geometry they define forms the visual representation of the link. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="collision" type="collision" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The collision properties of a link. Note that this can be different from the visual properties of a link, for example, simpler collision models are often used to reduce computation time. Note: multiple instances of collision tags can exist for the same link. The union of the geometry they define forms the collision representation of the link. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sensor" type="sensor"/>
        </xs:all>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The name of the link itself </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>


    <xs:complexType name="link_reference">
        <xs:attribute name="link" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="link_reference_w_pose">
        <xs:attribute name="link" type="xs:string" use="required"/>
        <xs:attribute default="0 0 0" name="xyz" type="matlab_parameter_expression"/>
        <xs:attribute default="0 0 0" name="rpy" type="matlab_parameter_expression"/>
    </xs:complexType>

    <xs:complexType name="axis">
        <xs:attribute name="xyz" type="xs:string" default="1 0 0"/>
    </xs:complexType>

    <xs:complexType name="dynamics">
        <xs:attribute name="damping" type="xs:double" default="0">
            <xs:annotation>
                <xs:documentation>The physical damping value of the joint</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="limit">
        <xs:attribute name="lower" type="xs:double" default="0">
            <xs:annotation>
                <xs:documentation>An attribute specifying the lower joint limit (radians for revolute joints, meters for prismatic joints). Omit if joint is continuous.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="upper" type="xs:double" default="0">
            <xs:annotation>
                <xs:documentation>An attribute specifying the upper joint limit (radians for revolute joints, meters for prismatic joints). Omit if joint is continuous. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="effort" type="xs:double" default="0">
            <xs:annotation>
                <xs:documentation>An attribute for enforcing the maximum joint effort</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="joint">
        <xs:all>
            <xs:element name="origin" type="pose" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>This is the transform from the parent link to the child link. The joint is located at the origin of the child link, as shown in the figure above. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="parent" type="link_reference" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Parent link name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="child" type="link_reference" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Child link name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="axis" type="axis" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The joint axis specified in the joint frame. This is the axis of rotation for revolute joints, the axis of translation for prismatic joints, and the surface normal for planar joints. The axis is specified in the joint frame of reference. Fixed and floating joints do not use the axis field. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dynamics" type="dynamics" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>An element specifying physical properties of the joint. These values are used to specify modeling properties of the joint, particularly useful for simulation. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="limit" type="limit" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="joint_type" use="required">
            <xs:annotation>
                <xs:documentation>Specifies the type of joint, where type can be one of the following:

    revolute - a hinge joint that rotates along the axis and has a limited range specified by the upper and lower limits.
    continuous - a continuous hinge joint that rotates around the axis and has no upper and lower limits
    prismatic - a sliding joint that slides along the axis, and has a limited range specified by the upper and lower limits.
    fixed - This is not really a joint because it cannot move. All degrees of freedom are locked. This type of joint does not require the axis, calibration, dynamics, limits or safety_controller.
    floating - This joint allows motion for all 6 degrees of freedom.
    planar - This joint allows motion in a plane perpendicular to the axis. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="1" name="has_position_sensor" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="joint_reference">
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="gazebo_sensor">
        <xs:sequence>
            <xs:element name="pose" type="matlab_parameter_expression"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="type" type="sensor_type"/>
    </xs:complexType>
    <xs:complexType name="gazebo">
        <xs:all>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sensor" type="gazebo_sensor"/>
        </xs:all>
        <xs:attribute name="reference" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="sensor">
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="0" name="pose" type="pose"/>
        </xs:all>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="type" type="sensor_type"/>
    </xs:complexType>
    <xs:simpleType name="sensor_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="imu"/>
            <xs:enumeration value="contact"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="transmission">
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" name="joint" type="joint_reference"/>
            <xs:element maxOccurs="1" minOccurs="1" name="actuator" type="actuator"/>
            <xs:element default="1" maxOccurs="1" minOccurs="0" name="mechanicalReduction"
                type="xs:double"/>
        </xs:all>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="type" type="transmission_type"/>
    </xs:complexType>
    <xs:complexType name="actuator">
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:simpleType name="transmission_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SimpleTransmission"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="robot">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="joint" type="joint" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>The joint element describes the kinematics and dynamics of the joint and also specifies the safety limits of the joint. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="link" type="link" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>The link element describes a rigid body with an inertia, visual features, ...</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element maxOccurs="unbounded" minOccurs="0" name="transmission"
                    type="transmission"/>
                <xs:element name="material" type="material" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>The material of the visual element. It is allowed to specify a material element outside of the 'link' object, in the top level 'robot' element. From within a link element you can then reference the material by name. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameter">
                    <xs:annotation>
                        <xs:documentation>A robot parameter, which can be referenced in matlab_parameter_expression types.  For example, a parameter with name="m1" could be references in mass value="$m1".  </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="loop_joint" type="loop_joint">
                    <xs:annotation>
                        <xs:documentation>Adds support for simple closed-loop kinematic chains. For an example, see
examples/SimpleFourBar/FourBar.urdf

Note: We do not support dynamics or torque at the loop_joint
yet. (see bug 921)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="force_element" type="force_element" maxOccurs="unbounded"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Adds dynamic, force-producing elements like springs and aerodynamics</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="collision_filter_group"
                    type="collision_filter_group"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>

            <xs:attribute name="version" type="xs:string" default="1.0"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="collision_filter_group_reference">
        <xs:attribute name="collision_filter_group"/>
    </xs:complexType>
    <xs:complexType name="collision_filter_group">
        <xs:annotation>
            <xs:documentation>Provides a means to exclude certain pairs of bodies from collision detec- tion and closest distance computations. A collision filter group can contain one or more links, and a link may belong to any number of collision filter groups. One collision filter group can ignore another, in which case pairs of bodies with one element from each group are skipped when performing the aforementioned computations.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="member" type="link_reference">
                <xs:annotation>
                    <xs:documentation>Specifies that a link belongs to this collision filter group.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ignored_collision_filter_group"
                type="collision_filter_group_reference">
                <xs:annotation>
                    <xs:documentation>Specifies that collisions between members of this collision filter group and those of another collision filter group should be ignored.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attribute form="unqualified" name="name" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>
